# Gen  AI Engineering
pydantic
langchain
langgraph
langchain-core
langchain-community
langchain_huggingface
python-dotenv
langchain-groq
langchain-google-genai
langchain_nvidia_ai_endpoints

google-genai

pandas
tabulate